<div class="homepage">
  <img src="https://www.canva.com/design/DAFbIasR-Jg/Fd3Ro17g35ix4XC02AsTpw/view?utm_content=DAFbIasR-Jg&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" class="logo">
  <h1>Welcome to EnBright</h1>
  <p>{% render 'homepage-text' %}</p>
</div>